.header-post11 #header-row .header-item.logo .product-name {
    display: none;
}

.header-post11 #header-row .project-selector > .menu-item > .text > span {
    max-width: 300px;
}

/* hub-nav-structure */

.header-post11 #navWrapper {
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
}